body{
  margin: 0;
  background-color: #2A2550;
  color: #E6D5B8;
  /*background-color:#383838;

  color: #F0A500;*/
  text-align: center;
  font-family: 'Merriweather', serif;
  /* #FF4949 */

}
.line{
  border-style: dotted;
  width: 60px;
  border-width: 10px;
  border-bottom: 0;
  border-color: #73777B;
}
.skill-row{
  width: 50%;
  margin: 100px auto 200px auto ;
  text-align: left;
  line-height: 2;
}
.zyzz{
  float: right;
  margin-left: 30px;
  position: relative;
  bottom: 75px;

}

.music{
  float: left;
  margin-right: 30px;

}
h1{
  margin-top: 100px;
  font-family: 'Sacramento', cursive;
  font-size: 90px;
  color: #E04D01;
  height: 4;
}
.line{
  clear: right;
}
.main{
  padding-top: 150px;
  margin-top: 0;
  background-color: #251D3A;
  /*background-color: #E4F9F5;*/
}
h2{
  font-size: 2.5rem;
  color: #FF7700;
  font-weight: normal;
}


h3{
  color: #FF7700;
  position: relative;
}
.footer-link{
  color: #FF7700;
  padding-left: 60px;
  padding-right: 60px;
  line-height: 80px;
  text-decoration: none;
  font-size: 20px;
}
.cloud{
  position: relative;
  left: 350px;
}
.cloud2{
  position: absolute;
  top: 300px;
  left: 400px;
}
.profile{
  margin-top: 100px;
  margin-bottom: 100px;
}
.skills{
    margin-top: 100px;
}
.middle-container{
  margin-bottom: 100px;

}
.contact-me{
  margin-top: 100px;
}
.bottom-container{
  background-color: #251D3A;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.btn {
  position: relative;
  top: 30px;
  background: #a1532c;
  background-image: -webkit-linear-gradient(top, #a1532c, #f57200);
  background-image: -moz-linear-gradient(top, #a1532c, #f57200);
  background-image: -ms-linear-gradient(top, #a1532c, #f57200);
  background-image: -o-linear-gradient(top, #a1532c, #f57200);
  background-image: linear-gradient(to bottom, #a1532c, #f57200);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 21px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f07e1a;
  background-image: -webkit-linear-gradient(top, #f07e1a, #FF7700);
  background-image: -moz-linear-gradient(top, #f07e1a, #FF7700);
  background-image: -ms-linear-gradient(top, #f07e1a, #FF7700);
  background-image: -o-linear-gradient(top, #f07e1a, #FF7700);
  background-image: linear-gradient(to bottom, #f07e1a, #FF7700);
  text-decoration: none;
}
p{
  font-weight: bold;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
